﻿@using GroceryHome.Models
@model List<DetailsDonHang>
    @{
        ViewBag.Title = "Chi tiết đơn";
        var Id = ViewBag.IdDonHang as string;
        Layout = "~/Areas/DieuHanh/Views/Shared/_Layout.cshtml";
        var models = Model;
    }

    <h2>Thông tin đơn hàng</h2>
<input type="hidden" id="hdfIDDonHang" value="@Id" />
    <div class="box-body">
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:#1b7ab8;color:white">
                    <th class="text-center" width="40px">STT</th>
                    <th class="text-center">Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Còn lại</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">Ngày thêm</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @{ var STT = 1;
                    var dB = new GroceryHomeEntities();
                    decimal? TotalAmount = 0;
                    }
                @{ foreach (var item in models)
                    {
                        var SP = dB.tbl_SanPham.Find(item.IdSanPham);
                        <tr class="text-center">
                            <td>@STT</td>
                            <td>@item.TenSP</td>
                            <td>@item.SoLuong</td>
                            <td>@SP.SoLuongConLai</td>
                            <td>@string.Format("{0:#,000}đ", item.DonGia)</td>
                            <td>@string.Format(item.ThanhTien !=0 ? "{0:#,000}đ" : "0đ" , item.ThanhTien)</td>
                            <td>@item.NgayThem</td>
                            <td>@item.Note</td>
                        </tr>
                        STT++;
                        TotalAmount += item.ThanhTien;
                    }

                  }
            </tbody>
        </table>
        <h4>Tổng hóa đơn: @string.Format(TotalAmount != 0 ? "{0:#,000}đ" : "0đ", TotalAmount)</h4>        
    </div>

<script>
    function Confirm() {
        var Id = document.getElementById("hdfIDDonHang").value;
        var str = document.getElementById("txtGhiChu").value;
        alert(Id + "\n" + str);
        if (Id!=null || Id!="") {
            $.ajax({
                url: '@Url.Action("ConfirmDonHang","QuanLyDonHang")',
                data:
                    {
                        Id: Id,
                        str:str
                    },
                success: function (data) {
                    location.reload(true);

                    alert("Xoá thành công");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //some errror, some show err msg to user and log the error
                    alert("Lỗi không thể xóa");

                }
            })
        }
    }

    function Reject() {
        var Id = document.getElementById("hdfIDDonHang").value;
        var str = document.getElementById("txtGhiChu").value;
        alert(Id + "\n" + str);
    }
</script>