﻿@using GroceryHome.Models
@model List<DetailsDonHang>
    @{
        ViewBag.Title = "Chi tiết đơn";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var models = Model;
    }

    <h2>DetailsDonHang</h2>

    <div class="box-body">
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:#1b7ab8;color:white">
                    <th class="text-center" width="40px">STT</th>
                    <th class="text-center">Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Đơn giá</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">Ngày thêm</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var STT = 1;
                    var dB = new GroceryHomeEntities();
                    decimal? TotalAmount = 0;
                    }
                @{ foreach (var item in models)
                    {                            
                        var SP = dB.tbl_SanPham.Find(item.IdSanPham);
                        <tr class="text-center">
                            <td>@STT</td>
                            <td>@item.TenSP</td>
                            <td>@item.SoLuong</td>
                            <td>@string.Format(item.DonGia != 0? "{0:#,000}đ" : "0đ", item.DonGia)</td>
                            <td>@string.Format(item.ThanhTien != 0 ? "{0:#,000}đ" : "0đ", item.ThanhTien)</td>
                            <td>@item.NgayThem</td>
                            <td>@item.Note</td>
                            <td></td>
                        </tr>
                        STT++;
                        TotalAmount += item.ThanhTien;
                    }

                  }
            </tbody>
        </table>
    </div>
<h4>Tổng hóa đơn: @string.Format(TotalAmount != 0 ? "{0:#,000}đ" : "0đ", TotalAmount)</h4>

