﻿@model List<tbl_DatHang>
    @{
        ViewBag.Title = "DonHang";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var models = Model;
    }

    <h2>Đơn Hàng</h2>

    <div class="box-body">
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:#1b7ab8;color:white">
                    <th class="text-center" width="40px">STT</th>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Tên khách hàng</th>
                    <th class="text-center">Số điện thoại</th>
                    <th class="text-center">Địa chỉ nhận hàng</th>
                    <th class="text-center">Ngày đặt hàng</th>
                    <th class="text-center">Hóa đơn</th>
                    <th class="text-center">Tình trạng</th>
                    <th class="text-center">Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var STT = 1;}
                @{ 
                    foreach (var item in models)
                    {
                        <tr>
                            <td>@STT</td>
                            <td>
                                <a href="@Url.Action("DetailsDonHang","Home", new { id = item.Id })">@item.Id</a>                            
                            </td>
                            <td>@item.TenKhachHang</td>
                            <td>@item.Phone</td>
                            <td>@item.DiaChi</td>
                            <td>@(item.NgayDatHang?.ToString("dd/MM/yyyy - HH:mm"))</td>
                            <td>@(item.TongHoaDon?.ToString("#,###đ"))</td>
                            @switch (item.Status)
                            {
                                case 0:
                                    <td>Chờ xác nhận</td>
                                    <td></td>
                                    <td>
                                        <a href="#">Hủy</a>
                                    </td>
                                    break;
                                case 1:
                                    <td>Đã xác nhận</td>
                                    <td>@Html.Raw(item.AdminFeedback)</td>
                                    <td>
                                        <a href="#">Hủy</a>
                                    </td>
                                    break;
                                case 2:
                                    <td>Đã hủy</td>
                                    <td>@Html.Raw(item.AdminFeedback)</td>
                                    <td>
                                    </td>
                                    break;
                                default:
                                    break;
                            }
                            
                            
                        </tr>
                        STT++;
                    }

                }
            </tbody>
        </table>
</div>

@{
    if (models.Count == 0)
    {
        <b>Chưa có đơn hàng</b>
    }
}