﻿@using GroceryHome
@using GroceryHome.Models
@model List<tbl_GioHang_SanPham>
@{
    ViewBag.Title = "GioHang";
    var thongTin = ViewBag.ThongTin as ThongTinDatHang;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var models = Model;
}

<h2>Giỏ Hàng</h2>

<div class="box-body">
    <table id="mytable" class="table table-bordered table-striped">
        <thead>
            <tr style="background-color:#1b7ab8;color:white">
                <th class="text-center" width="40px">STT</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Ngày thêm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var STT = 1;
                foreach (var item in models)
                {
                    <tr>
                        <td>@STT</td>
                        <td>@item.TenSP</td>
                        <td>@item.SoLuong</td>
                        <td class="text-right">@string.Format("{0:#,000}đ", item.DonGia)</td>
                        <td class="text-right">@string.Format("{0:#,000}đ", item.ThanhTien)</td>
                        <td>@(item.NgayThem?.ToString("dd/MM/yyyy"))</td>
                        <td>
                            <a href="#" onclick="XoaSPGioHang(@item.Id)">Xóa</a>
                        </td>
                    </tr>
                    STT++;
                }
            }
        </tbody>
    </table>
</div>
<hr />
@{
    if (models.Count != 0)
    {
        <h3>Thông tin khách hàng</h3>
        <div class="box-body">
            @{
                using (Html.BeginForm("DatHang", "Home", FormMethod.Post))
                {
                    <input type="hidden" id="IdGioHang" class="form-control" name="IdGioHang" value="@models[0].IdGioHang" />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">*Họ và tên: </label>
                            <div class="col-sm-3">
                                <input type="text" id="HoVaTen" class="form-control" name="HoVaTen" value="@(thongTin.HoVaTen == null ? "" : thongTin.HoVaTen)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">*Điện thoại: </label>
                            <div class="col-sm-3">
                                <input type="text" id="DienThoai" class="form-control" name="DienThoai" value="@(thongTin.DienThoai == null ? "" : thongTin.DienThoai)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">*Tỉnh/Thành phố: </label>
                            <div class="col-sm-3">
                                <input type="text" id="Tinh" class="form-control" name="Tinh" value="@(thongTin.Tinh == null ? "" : thongTin.Tinh)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">*Quận/Huyện: </label>
                            <div class="col-sm-3">
                                <input type="text" id="Huyen" class="form-control" name="Huyen" value="@(thongTin.Huyen == null ? "" : thongTin.Huyen)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">*Địa chỉ: </label>
                            <div class="col-sm-3">
                                <input type="text" id="DiaChi" class="form-control" name="DiaChi" value="@(thongTin.DiaChi == null ? "" : thongTin.DiaChi)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2">Ghi chú: </label>
                            <div class="col-sm-3">
                                <textarea id="GhiChu" class="form-control" name="GhiChu"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <input type="submit" value="Đặt hàng" class="btn btn-default" />
                        @{
                            if (!string.IsNullOrEmpty(thongTin.ThongBao))
                            {
                                <label>@thongTin.ThongBao</label>
                            }
                        }
                    </div>

                  }
            }
        </div>
  }
  else
  {
    if (!string.IsNullOrEmpty(thongTin.ThongBao))
    {
        <script>
            alert("Đặt hàng thành công");
        </script>
    }
        <b>Giỏ hàng rỗng</b>
    }
}

<script>
    function XoaSPGioHang(id) {
        $.ajax({
            url: '@Url.Action("XoaSPGioHang","Home")',
            data: { id: id },
            success: function (data) {
                location.reload(true);

                alert("Xoá thành công");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //some errror, some show err msg to user and log the error
                alert("Lỗi không thể xóa");

            }

        });
    }


    function btnDatHang(models) {
        alert();
        $.ajax({
            url: '@Url.Action("DatHang","Home")',
            data: { models: models },
            success: function (data) {
                alert("Đặt hàng thành công");
                location.reload(true);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //some errror, some show err msg to user and log the error
                alert(xhr.responseText);

            }

        });
    }
</script>
