﻿@using GroceryHome.Models
@model List<tbl_SanPham>

@{
    ViewBag.Title = "Home Page";

    var models = Model;
}
<!– Latest compiled and minified CSS –>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!– Optional theme –>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!– Latest compiled and minified JavaScript –>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

@Styles.Render("~/Content/Product/products.css")

<script>
    if (@Session["IsAddSanPham"] != null) {
        alert("ThongBao");
    }
</script>
<div class="row">
    <div class="col-lg-3">
        @Html.Partial("_DanhMucSanPham")
    </div>
</div>
<div class="col-lg-offset-3" style="height:1000px">
    <div class="jumbotron newProduct">
        <fieldset>
            <legend id="newSP"></legend>
            <b style="border:double">Sản phẩm mới</b>
            <div class="newProduct">
                <div class="row">
                    @{
                        var modelsNew = models.Take(3);
                        foreach (var item in modelsNew)
                        {
                            <div class="col-lg-4" style="margin-bottom:20px">
                                <div class="product">
                                    <table width="100%">
                                        <tr>
                                            <td colspan="2">
                                                <img class="imgProduct" src="~/Images/Products/@item.Hinh" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <label class="tenSP">@item.TenSP</label>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <i class="gia">Giá: @string.Format("{0:#,000}đ", item.Gia)</i>
                                            </td>
                                            <td class="right">
                                                @{
                                                    if (item.SoLuongConLai > 0)
                                                    {
                                                        <i class="gia">Còn: @item.SoLuongConLai</i>
                                                    }
                                                    else
                                                    {
                                                        <i class="gia">Hết hàng</i>
                                                    }
                                                }

                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left"><a class="actionProduct" href="#" onclick="DetailProduct()">Chi tiết</a></td>
                                            @{
                                                if (item.SoLuongConLai > 0)
                                                {
                                                    <td class="right"><a class="actionProduct" href="#" onclick="AddProductToCart(@item.Id, @item.SoLuongConLai)">Thêm vào giỏ</a></td>
                                                }
                                                else
                                                {
                                                    <td class="right"><a class="actionProduct">Đã hết hàng</a></td>

                                                }
                                            }
                                        </tr>
                                    </table>
                                </div>
                            </div>
                                                }
                    }
                </div>
            </div>
        </fieldset>
    </div>

    @{
        GroceryHomeEntities dB = new GroceryHomeEntities();
        var listLoaiSP = dB.tbl_LoaiSanPham.Where(d => d.Id != 0).ToList();
        foreach (var item in listLoaiSP)
        {

            <div id="@item.Id" class="jumbotron listProduct">
                <fieldset>
                    <legend id="LoaiSP_@item.Id">Grocery Home</legend>
                    <b style="border:double; border-radius:10px;">@item.LoaiSP</b>
                    <div class="newProduct">
                        <div class="row">
                            @{
                                var modelLoaiSP = models.Where(d => d.LoaiSP == item.Id).ToList();
                                foreach (var itemLoaiSP in modelLoaiSP)
                                {
                                    <div class="col-lg-4" style="margin-bottom:20px">
                                        <div class="product">
                                            <table width="100%">
                                                <tr>
                                                    <td colspan="2">
                                                        <img class="imgProduct" src="~/Images/Products/@itemLoaiSP.Hinh" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <label class="tenSP">@itemLoaiSP.TenSP</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="gia">Giá: @string.Format("{0:#,000}đ", itemLoaiSP.Gia)</i>
                                                    </td>
                                                    <td class="right">
                                                        <i class="gia">Còn: @itemLoaiSP.SoLuongConLai</i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><a class="actionProduct" href="#" onclick="DetailProduct()">Chi tiết</a></td>
                                                    <td class="right"><a class="actionProduct" href="#LoaiSP_@item.Id" onclick="AddProductToCart(@itemLoaiSP.Id)">Thêm vào giỏ</a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                </fieldset>
            </div>
                                }
    }

</div>

<script type="text/javascript">
    function DetailProduct(id) {
        alert("Chức năng chưa hoàn thành. id: " + id);
    }

    function AddProductToCart(id, conlai){
        var Count = prompt("Số lượng đặt:", "1");
        if (Count == null || Count == "" || Count <= 0 ) {
            alert("Hủy thêm vào giỏ")
        } else {
            if (Count > conlai) {
                alert("Chỉ còn "+conlai+ " sản phẩm");
            }
            else {             
                var count = Count;
                $.ajax({
                    url: '@Url.Action("AddSpToGioHang","Home")',
                    data: { id: id,
                        count : count
                    },
                    success: function (data) {
                        alert("Thêm sản phẩm vào giỏ hàng");

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //some errror, some show err msg to user and log the error
                        alert("Lỗi không thể thêm sản phẩm");

                    }

                });
            }
        }
    }
</script>
